@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,500;9..144,600;9..144,700&family=Montserrat:wght@100;200;300;400;500;600;700&display=swap");

:root {
  --clr-dark-cyan: hsl(158, 36%, 37%);
  --clr-dream: hsl(30, 38%, 92%);
  --clr-very-dark-blue: hsl(212, 21%, 14%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-font: #9699a6;
  --bg-color: #f3eae3;
  --bg-btn-hover: #1a4031;
  --fs-paragraph: 14px;
  --ff-montserrat: "Montserrat", sans-serif;
  --ff-fraunces: "Fraunces", serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: var(--fs-paragraph);
  font-weight: 500;
  font-family: var(--ff-montserrat);
  background-color: var(--bg-color);
}

.card {
  width: auto;
  height: auto;
  display: flex;
  background-color: var(--clr-white);
  overflow: hidden;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.card__image {
  width: 300px;
  height: 450px;
  background-image: url(images/image-product-desktop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.card__info {
  width: 300px;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 32px;
}
.card__info .card--category {
  color: var(--clr-font);
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 5px;
}
.card__info .card--title {
  color: var(--clr-very-dark-blue);
  font-size: 32px;
  font-weight: 700;
  font-family: var(--ff-fraunces);
  line-height: 32px;
}
.card__info .card--desc {
  color: var(--clr-font);
  font-size: 14px;
  font-weight: 500;
  line-height: 23.2px;
}
.card__info .card__prices {
  display: flex;
  align-items: center;
}
.card__info .card--discountPrice {
  color: var(--clr-dark-cyan);
  font-size: 32px;
  font-weight: 600;
  font-family: var(--ff-fraunces);
}
.card__info .card--realPrice {
  color: var(--clr-font);
  font-size: 13.008px;
  font-weight: 500;
  text-decoration: line-through;
  margin-left: 21px;
}
.card__info .card--btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 43px;
  text-decoration: none;
  color: var(--clr-white);
  background-color: var(--clr-dark-cyan);
  border: none;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
}
.card__info .card--btn:hover {
  cursor: pointer;
  background-color: var(--bg-btn-hover);
  transform: translateY(-1px);
  -webkit-transform: translateY(-1px);
  -moz-transform: translateY(-1px);
  -ms-transform: translateY(-1px);
  -o-transform: translateY(-1px);
}
.card__info .card--btn > img {
  margin-right: 11px;
}

.attribution {
  margin-top: 1.5rem;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Mobile Breakpoints */
@media screen and (max-width: 576px) {
  .card {
    width: 343px;
    height: 611px;
    flex-direction: column;
  }

  .card__image {
    width: 100%;
    height: 240px;
    background-image: url(images/image-product-mobile.jpg);
  }

  .card__info {
    width: 100%;
    height: 371px;
    padding: 27px 25px;
  }
}
