@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&family=Lexend+Deca:wght@100;200;300;400;500;600;700&display=swap");

:root {
  --clr-very-dark-blue-main-background: hsl(233, 47%, 7%);
  --clr-dark-desaturated-blue-card-background: hsl(244, 38%, 16%);
  --clr-soft-violet-accent: hsl(277, 64%, 61%);
  --clr-white-main-heading-stats: hsl(0, 0%, 100%);
  --clr-slightly-transparent-white-main-paragraph: hsla(0, 0%, 100%, 0.75);
  --clr-slightly-transparent-white-stat-headings: hsla(0, 0%, 100%, 0.6);
  --fs-default: 15px;
  --ff-inter: "Inter", sans-serif;
  --ff-lexend-deca: "Lexend Deca", sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ff-inter);
  background-color: var(--clr-very-dark-blue-main-background);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.card {
  display: flex;
  max-width: 1110px;
  width: 95%;
  height: 446px;
  background-color: var(--clr-dark-desaturated-blue-card-background);
  overflow: hidden;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.card__img {
  width: 540px;
  height: 100%;
  background-image: url(images/image-header-desktop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center right;
}
.card__img .mask--cardImg {
  width: 100%;
  height: 100%;
  opacity: 0.7;
  background-color: rgba(94, 0, 144, 0.8);
}

.card__content {
  width: 51.4%;
  min-width: 475px;
  display: flex;
  flex-direction: column;
  padding: 78px 121px 64px 70px;
  order: -1;
}
.card__content .card--heading {
  margin-bottom: 25px;
  color: var(--clr-white-main-heading-stats);
  font-size: 36px;
  font-weight: 700;
  line-height: 43.57px;
  letter-spacing: 0.35%;
}
.card__content .card--heading span {
  color: var(--clr-soft-violet-accent);
}
.card__content .card--paragraph {
  color: var(--clr-slightly-transparent-white-main-paragraph);
  font-size: var(--fs-default);
  font-weight: 400;
  line-height: 24.75px;
  letter-spacing: 0.25%;
}

.card__summary {
  min-width: 378px;
  height: 180px;
}

.card__socials {
  width: 350px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
}
.card--companies h2,
.card--templates h2,
.card--queries h2 {
  color: var(--clr-white-main-heading-stats);
  font-size: 26px;
  font-weight: 600;
  line-height: 42.91px;
  letter-spacing: 0.0275em;
}
.card--companies p,
.card--templates p,
.card--queries p {
  color: var(--clr-slightly-transparent-white-main-paragraph);
  font-size: 13px;
  font-weight: 200;
  font-family: var(--ff-lexend-deca);
  line-height: 21.45px;
  letter-spacing: 0.0225em;
  text-transform: uppercase;
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: var(--clr-white-main-heading-stats);
}
.attribution a {
  color: var(--clr-soft-violet-accent);
}

@media screen and (max-width: 768px) {
  main {
    max-width: none;
    height: 100%;
    min-height: 956px;
  }

  .card {
    flex-direction: column;
    max-width: none;
    width: 90%;
    height: 780px;
  }

  .card__img {
    width: 100%;
    height: 240px;
    flex-shrink: 0;
    background-image: url(images/image-header-mobile.jpg);
    background-position: center top;
  }

  .card__content {
    min-width: 100%;
    height: 780px;
    align-items: center;
    justify-content: center;
    order: 1;
    text-align: center;
    padding: 0;
  }

  .card__summary {
    min-width: 350px;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 0 1.5rem;
  }
  .card__summary .card--heading {
    align-self: center;
    max-width: 90%;
    margin-top: 1rem;
    margin-bottom: 0;
    font-size: 1.7rem;
    line-height: unset;
  }
  .card__summary .card--paragraph {
    align-self: center;
    width: 90%;
    margin-top: 1rem;
  }

  .card__socials {
    flex-direction: column;
    justify-content: space-around;
    margin-top: 1.5rem;
    width: 100%;
    height: 240px;
  }
}

@media screen and (max-width: 320px) {
  .card__summary {
    padding: 0 2.5rem;
  }
}
