@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700&display=swap");

:root {
  --clr-soft-blue: hsl(215, 51%, 70%);
  --clr-cyan: hsl(178, 100%, 50%);
  --clr-very-dark-blue-mainBG: hsl(217, 54%, 11%);
  --clr-very-dark-blue-cardBG: hsl(216, 50%, 16%);
  --clr-very-dark-blue-line: hsl(215, 32%, 27%);
  --clr-white: hsl(0, 0%, 100%);
  --fs-default: 18px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--clr-very-dark-blue-mainBG);
  font-family: "Outfit", sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 597px;
  padding: 1.55rem;
  background-color: var(--clr-very-dark-blue-cardBG);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.card .card--nftImg {
  max-width: 100%;
  width: 302px;
  height: 302px;
  background: url(images/image-equilibrium.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.card .card--nftImgHover {
  max-width: 100%;
  width: 302px;
  height: 302px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}
.card .card--nftImgHover:hover {
  cursor: pointer;
  background: url(images/icon-view.svg);
  background-repeat: no-repeat;
  /* background-size: cover; */
  background-position: center;
  background-color: hsl(178, 100%, 50%, 0.5);
}

.card__info {
  margin-top: 28px;
}
.card__info h1 {
  margin-bottom: 0.75rem;
  color: var(--clr-white);
  font-size: 1.375rem;
  font-weight: 600;
  letter-spacing: 0.0225rem;
}
.card__info h1:hover {
  cursor: pointer;
  color: var(--clr-cyan);
}
.card__info .info--desc {
  margin-bottom: 1rem;
  color: var(--clr-soft-blue);
  font-size: var(--fs-default);
  font-weight: 300;
  line-height: 26px;
  letter-spacing: 0.0001rem;
}

.card__info--prices {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 22px;
}
.card__info--prices .d-flex {
  display: flex;
  align-items: center;
}
.card__info--prices .info--price,
.card__info--prices .info--clock {
  font-size: 1rem;
  margin-left: 7px;
}
.card__info--prices .info--price {
  color: var(--clr-cyan);
}
.card__info--prices .info--clock {
  color: var(--clr-soft-blue);
}

hr {
  width: 100%;
  height: 1px;
  position: relative;
  top: 0.28rem;
  margin-bottom: 18px;
  color: var(--clr-very-dark-blue-line);
}

.card_info--profile {
  position: absolute;
  margin-top: 5px;
  display: flex;
  align-items: center;
}
.card_info--profile img {
  width: 33px;
  margin-right: 15px;
  border: 1px solid var(--clr-white);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.card_info--profile p {
  margin-bottom: 6px;
  font-weight: 400;
  letter-spacing: 0.015rem;
  color: var(--clr-soft-blue);
}
.card_info--profile span {
  color: var(--clr-white);
  font-weight: 400;
}
.card_info--profile span:hover {
  cursor: pointer;
  color: var(--clr-cyan);
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: var(--clr-white);
}
.attribution a {
  color: var(--clr-cyan);
}

@media screen and (max-width: 420px) {
  main {
    margin: 2.5rem 0;
    height: 100%;
  }

  .card {
    width: 90%;
    padding: 1.25rem;
  }
}
