@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700&display=swap");

:root {
  --clr-white: hsl(0, 0%, 100%);
  --clr-light-gray: hsl(212, 45%, 89%);
  --clr-grayish-blue: hsl(220, 15%, 55%);
  --clr-dark-blue: hsl(218, 44%, 22%);
  --fs-default: 15px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--clr-light-gray);
  font-family: "Outfit", sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  max-width: 100%;
  width: 320px;
  height: 495px;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  background-color: var(--clr-white);
  box-shadow: 0 20px 25px rgb(0 0 0 / 8%);
}

.card .card--qrImg {
  max-width: 100%;
  width: 290px;
  height: 287px;
  object-fit: cover;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.card__info {
  width: 100%;
  height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.card__info h1 {
  font-size: 1.38rem;
  color: var(--clr-dark-blue);
}
.card__info p {
  width: 90%;
  font-size: var(--fs-default);
  font-weight: 300;
  color: var(--clr-grayish-blue);
  line-height: 1.2rem;
}

.attribution {
  margin-top: 1.5rem;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
