@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2 {
	@apply text-primary;
}

.custom-bg-portfolio-1 {
	background-image: url("./assets/images/group-shape1.svg");
	background-size: auto;
	background-repeat: no-repeat;
	background-position: center;
}
.custom-bg-portfolio-2 {
	background-image: url("./assets/images/group-shape2.svg");
	background-size: auto;
	background-repeat: no-repeat;
	background-position: center;
}
.custom-bg-portfolio-3 {
	background-image: url("./assets/images/group-shape3.svg");
	background-size: auto;
	background-repeat: no-repeat;
	background-position: center;
}
.custom-bg-portfolio-4 {
	background-image: url("./assets/images/group-shape4.svg");
	background-size: auto;
	background-repeat: no-repeat;
	background-position: center;
}

.custom-shadow {
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
		0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

.two-line-text {
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}
